<section class="section-products">
    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h3>Featured Product</h3>
                                    <h2>Popular Products</h2>
                            </div>
                    </div>
            </div>
            <div class="row">
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">
                                    <div class="part-1">
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">{{title1}}</h3>
                                            <h4 class="product-old-price">{{priceOld1}}</h4>
                                            <h4 class="product-price">{{price1}}</h4>
                                    </div>
                            </div>
                    </div>
                      <!-- Single Product -->
                      <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                                <div class="part-1">
                                        <ul>
                                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">{{title2}}</h3>
                                        <h4 class="product-old-price">{{priceOld2}}</h4>
                                        <h4 class="product-price">{{price2}}</h4>
                                </div>
                        </div>
                </div>
                      <!-- Single Product -->
                      <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                                <div class="part-1">
                                        <ul>
                                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">{{title3}}</h3>
                                        <h4 class="product-old-price">{{priceOld3}}</h4>
                                        <h4 class="product-price">{{price3}}</h4>
                                </div>
                        </div>
                </div>
                     <!-- Single Product -->
                     <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                                <div class="part-1">
                                        <ul>
                                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">{{title4}}</h3>
                                        <h4 class="product-old-price">{{priceOld4}}</h4>
                                        <h4 class="product-price">{{price4}}</h4>
                                </div>
                        </div>
                </div>
                     <!-- Single Product -->
                     <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                                <div class="part-1">
                                        <ul>
                                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">{{title5}}</h3>
                                        <h4 class="product-old-price">{{priceOld5}}</h4>
                                        <h4 class="product-price">{{price5}}</h4>
                                </div>
                        </div>
                </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                                <div class="part-1">
                                        <ul>
                                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">{{title7}}</h3>
                                        <h4 class="product-old-price">{{priceOld7}}</h4>
                                        <h4 class="product-price">{{price7}}</h4>
                                </div>
                        </div>
                </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-1" class="single-product">
                                <div class="part-1">
                                        <ul>
                                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                        </ul>
                                </div>
                                <div class="part-2">
                                        <h3 class="product-title">{{title8}}</h3>
                                        <h4 class="product-old-price">{{priceOld8}}</h4>
                                        <h4 class="product-price">{{price8}}</h4>
                                </div>
                        </div>
                </div>
                   <!-- Single Product -->
                   <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-1" class="single-product">
                            <div class="part-1">
                                    <ul>
                                            <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                            <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                            <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                    </ul>
                            </div>
                            <div class="part-2">
                                    <h3 class="product-title">{{title9}}</h3>
                                    <h4 class="product-old-price">{{priceOld9}}</h4>
                                    <h4 class="product-price">{{price9}}</h4>
                            </div>
                    </div>
            </div>
            </div>
    </div>
</section>
